body {
	overflow-x: hidden;
}

hr {
	margin: 0;
}

.form-control {
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: monospace;
}

.font-1 {
	letter-spacing: 0.2rem;
	text-indent: 0.2rem;
	font-family: monospace;
	text-overflow: ellipsis;
}

.display-6 {
    letter-spacing: 0.9rem;
    text-indent: 0.9rem;
}

.directory {
	cursor: pointer;
	transition: background .1s;
}

.directory:hover {
	background-color: rgba(1, 1, 1, 0.1);
}

.directory .fal {
	display: none;
	opacity: 0;
	transition: opacity .1s;
}

.directory:hover .fal {
	display: block;
	opacity: 1;
}

.directory:hover .filesize {
	display: none;
}

.fa-arrow-square-left, .fa-bars {
	cursor: pointer;
}

.progressbg {
	z-index: -1;
}

#uploadprogress {
	display: none;
}

#addfoldermodal, #addfilemodal {
	z-index: 1021;
	background-color: rgba(1, 1, 1, 0.2);
	backdrop-filter: blur(5px);
	display: none;
}